<app-navbar></app-navbar>

<div class="invisible-content">
    <div class="invisible-content__content">

    </div>
</div>

<app-work-at-step></app-work-at-step>



<app-product-built></app-product-built>
<div class="landing">
    <div class="presentation">
        <div class="presentation__description">

            <p class="bold-text">Effortless Validation for</p>
            <h2 class="subtitle">Management</h2>
            <p class="text">The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person. </p>
            <p class="bold-text">Accessory makers</p>
            <p class="text">While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun </p>
            <p class="bold-text">Alterationists</p>
            <p class="text">If you are looking for a new way to promote your business that won’t cost you more money, </p>
        </div>
        <div class="presentation__people">
            <img src="assets/img/papers.svg" alt="" class="people">
        </div>
        
    </div>
</div>

<div class="landing">
    <div class="presentation2">
        <div class="presentation__people">
            <img src="assets/img/computer.svg" alt="" class="people">
        </div>
        <div class="presentation__description">

            <p class="bold-text">Easier decision making for</p>
            <h2 class="subtitle">Customer Support</h2>
            <p class="text">The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.</p>
            
            <div>
                <div>
                    <p class="text">
                        <img src="assets/img/check_yellow.svg" >
                        Never worry about overpaying for your energy again. 
                    </p>
                </div>
                <div>
                    <p class="text">
                        <img src="assets/img/check_red.svg" >
                        We will only switch you to energy companies that we trust and will treat you right.
                    </p>
                </div>

                <div>
                    <p class="text">
                        <img src="assets/img/check_blue.svg" >
                        We track the markets daily and know where the savings are.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="landing">
    <div class="presentation">
        
        <div class="presentation__description">

            <p class="bold-text">Optimisation for</p>
            <h2 class="subtitle">Collaborative</h2>
            <p class="text">Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. </p>
            <p class="bold-text">Accessory makers</p>
            <p class="text">While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun</p>
            <p class="bold-text">Alterationists</p>
            <p class="text">If you are looking for a new way to promote your business that won’t cost you more money, </p>
        </div>
        <div class="presentation__people">
            <img src="assets/img/images.svg" alt="" class="people">
        </div>
    </div>
</div>

<app-easy-process></app-easy-process>
<app-price-table></app-price-table>
<app-clients-say></app-clients-say>

<div class="landing">
    <div class="compannies">
        
        <div class="compannies__container">

            <div class="compannies__content">
                <div>
                    <p class="subtitle">Join 100 Compannies who boost their business with Product</p>
                    <button class="default-button white-button">Get This</button>
                </div>
                <div class="compannies__content__img">
                    <img src="assets/img/compannies.svg" alt="">
                </div>
            </div>
        </div>

    </div>
</div>



<app-footer></app-footer>