/* ****************************************************
   * Principal colors, usually for theme the app
   * ****************************************************/

$green: #02897A;
$hover: #02AF9C;
$blue: #4D8DFF;
$purple: #740A76;
$dark-green: #22343D;
$white: #FFFFFF;
$orange: #F03E3D;
$gray: #737373;