<div class="containerproduct">
    <div class="title__containerproducts">
        <h2 class="subtitle">Quick & Easy Process</h2>
        <p class="text">Do you require some help for your project: Conception workshop,
            prototyping, marketing strategy, landing page, Ux/UI?</p>
    </div>

    <div class="products">
       <div class="img__clouds">
           <img src="assets/img/cloud_red.png" alt="">
       </div>
       <div class="img__clouds">
        <img src="assets/img/cloud_green.png" alt="">
       </div>
       <div class="img__clouds">
        <img src="assets/img/cloud_purple.png" alt="">
       </div>
       <div class="img__clouds">
        <img src="assets/img/cloud_blue.png" alt="">
       </div>
    </div>

    <div class="buttons">
        <div>
         <button class="default-button green-button">Contact our expert</button>
        </div>
    </div>
</div>
