<div class="containerproduct">
    <div class="title__containerproducts">
        <h2 class="subtitle">Price Table</h2>
        <p class="text">We offer competitive price</p>
    </div>

    <div class="products">
       <div>
           <div class="card-white">
               <p class="bold-text-card">Free</p>
                <p class="text-card">Brief price description</p>
                <div class="counter">
                    <img src="assets/img/price_cero.svg " alt="">
                </div>
                <p class="text-card">Only 2 Operators</p>
                <p class="text-card">Notifications</p>
                <p class="text-card">Landing Pages</p>
                <div class="buttons">
                    <button class="card-button green-button">Order Now</button>
                </div>
           </div>
       </div>
       <div>
            <div class="card-green">
                <p class="bold-text-card-white">Standard</p>
                <p class="text-card-white">Brief price description</p>
                <div class="counter">
                    <img src="assets/img/price_five.svg " alt="">
                </div>
                <p class="text-card-white">5+ Operators</p>
                <p class="text-card-white">Notifications</p>
                <p class="text-card-white">Landing Pages</p>
                <div class="buttons">
                 <button class="card-button white-button">Order Now</button>
                </div>
            </div>  
        </div> 
       <div>
        <div class="card-white">
            <p class="bold-text-card">Premium</p>
             <p class="text-card">Brief price description</p>
             <div class="counter">
                 <img src="assets/img/price_ten.svg " alt="">
             </div>
             <p class="text-card">10+ Operators</p>
             <p class="text-card">Notifications</p>
             <p class="text-card">Landing Pages</p>
             <div class="buttons">
                 <button class="card-button green-button">Order Now</button>
             </div>
        </div>
       </div>
    </div>

   
</div>

