
<div>
    <div class="landing">
        <div class="presentation">
            <div class="presentation__description">
                <h1 class="title">Work at the speed
                    of thought</h1>
                
                <p class="text">Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.</p>
                <div class="buttons">
                    <button class="default-button green-button ">
                        Get started
                    </button>
                    <button class="default-button transparent-button">
                        <img src="assets/img/triangle.svg" alt="">
                        Watch the Video
                    </button>
                </div>
            </div>
            <div class="presentation__people">
                <img src="assets/img/people.svg" alt="" class="people">
            </div>
            
        </div>
    </div>

</div>

