<nav >
    
    <label class="logo">
        <img src="assets/img/logo.svg" alt="">
    </label>
    <ul>
        <div >
        <li><a class="active" href="">Product</a></li>
        <li><a href="">Customers</a></li>
        <li ><a href="">Pricing</a></li>
        <li><a href="">Resources</a></li>

        <button class="white-button container-buttons">Sing In</button>
        <button class="green-button container-buttons">Sing Up</button>
        <img src="assets/img/white-mode.svg" alt="" class="container-buttons white-mode">
        </div>
    </ul>
    <label id="icon">
        <img src="assets/img/menu.svg" alt="">
    </label> 
</nav>

