<div class="containerproduct">
    

    <div class="products">
       <div>
            <p class="bold-text-card"></p>
          <img src="assets/img/logo-footer.svg" alt="" class="logo">
          
          <div>
            <img src="assets/img/instagram.svg" alt="" class="logo">
            <img src="assets/img/facebook.svg" alt="" class="logo">
            <img src="assets/img/twitter.svg" alt="" class="logo">
          </div>
       </div>
       <div class="text-center">
            <p class="bold-text-card">Resource</p>
            <br>
            <a href="" class="text-card">About Us</a>
            <br>
            <a href="" class="text-card">Blog</a>
            <br>
            <a href="" class="text-card">Contact</a>
            <br>
            <a href="" class="text-card">FAQ</a>
        </div> 
       <div class="text-center">
            <p class="bold-text-card">Legal Stuff</p>
            <br>
            <a href="" class="text-card">Disclaimer</a>
            <br>
            <a href="" class="text-card">Financing</a>
            <br>
            <a href="" class="text-card">Privacy Policy</a>
            <br>
            <a href="" class="text-card">Terms of Service</a>
       </div>
       <div class="buttons">
            <p class="bold-text-card">knowing you're always on the best energy deal. </p>
            <br>
            <input type="text" placeholder="Enter your phone Number" class="input">
            <br>
            <br>

            <button class="footer-button green-button">Sign up Now</button>
      
       </div>
    </div>

    <div>
        <p class="text">Made With Love By Product All Right Reserved </p>
    </div>
</div>

