@import "../../../../assets/scss/variables/fonts.scss";
@import "../../../../assets/scss/variables/colors.scss";

.containerproduct{
    background-color: $dark-green;
    padding: 5%;
}


.products{
    display: grid; 
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: left;
    

}
.text{
    font-family: $font-family-regular;
    color: $white;
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px ;
}

.text-gray{
    font-family: $font-family-regular;
    color: $gray;
    font-size: 16px;
    
    text-align: left;
    
}

.counter{
    text-align: center;
}





.logo{
    padding: 10px;
}


.bold-text-card{
    font-family: $font-family-bold;
    color: white;
    font-size: 20px;
   text-align: center;
}

.text-card{
    font-family: $font-family-regular;
    color: $white;
    font-size: 16px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}


@media(max-width:725px){
    
    .card_products{
        text-align: center;
    }

    .products{ 
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
    }

    .subtitle{
        font-family: $font-family-bold;
        color: $white;
        font-size: 32px;
        margin: auto;
        text-align: center;
    }
    
    .bold-text{
        font-family: $font-family-semibold;
        color: $white;
        font-size: 18px;
        text-align: center;
    }
    
    .text{
        font-family: $font-family-regular;
        color: $white;
        font-size: 18px;
        margin-bottom: 50px;
        text-align: center;
        padding: 10px ;
    }
    
}


.subtitle{
    font-family: $font-family-bold;
    color: $white;
    font-size: 32px;
    margin: auto;
    text-align: center;
}

.input{
    width: 325px;
    height: 38px;
    
    font-family: $font-family-regular;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

.text-center{
    text-align: center;
}


.buttons{
   
    text-align: center;
    
    
    .default-button{
        width: 180px;
        height: 50px;
        margin: 5px;
        border: none;
    }

    .footer-button{
        width: 131px;
        height: 39px;
        margin: 5px;
        border: none;
    }

    .card-button{
        width: 139px;
        height: 44px;
        margin: 5px;
        border: none;
    }

    .green-button{
        font-family: $font-family-bold;
        color: $white;
        font-size: 16px;
        background-color: $green;
       
        border-radius: 5px;
    }

    .green-button:hover{
        font-family: $font-family-bold;
        color: $white;
        font-size: 16px;
        background-color: $hover;
        
        border-radius: 5px;
        cursor: pointer;
    }

    .white-button{
        font-family: $font-family-bold;
        color: $green;
        font-size: 16px;
        background-color: $white;
       
        border-radius: 5px;
    }

    .white-button:hover{
        font-family: $font-family-bold;
        color:  $hover; 
        font-size: 16px;
        background-color: $white;
        
        border-radius: 5px;
        cursor: pointer;
    }

    

    .transparent-button{
        font-family: $font-family-bold;
        background: none;
        color: $green;
        text-align: center;
        text-decoration: underline;
        font-size: 16px;
    }

    .transparent-button:hover{
        font-family: $font-family-bold;
        background: none; 
        color: $hover;
        text-align: center;
        text-decoration: underline;
        font-size: 16px;
        cursor: pointer;
    }

}