

<div class="containerproduct">
    <div class="title__containerproducts">
        <h2 class="subtitle">Product  was Built Specifically</h2>
        <h2 class="subtitle">For You</h2>
    </div>

    <div class="products">
        <div class="card_products">
            <img src="assets/img/icon_green.svg" alt="">
            <p class="bold-text">First click tests</p>
            <p class="text">While most people enjoy casino gambling,</p>
        </div>
        <div class="card_products">
            <img src="assets/img/icon_blue.svg" alt="">
            <p class="bold-text">Design surveys</p>
            <p class="text">Sports betting, lottery and bingo playing for the fun</p>
        </div>
        <div class="card_products">
            <img src="assets/img/icon_purple.svg" alt="">
            <p class="bold-text">Preference tests</p>
            <p class="text">The Myspace page defines the individual.</p>
        </div>
        <div class="card_products">
            <img src="assets/img/icon_orange.svg" alt="">
            <p class="bold-text">Five second tests</p>
            <p class="text">TPersonal choices and the overall personality of the person. </p>
        </div>
    </div>

    <div class="buttons">
        <div>
         <button class="default-button green-button">SIGN UP NOW</button>
        </div>
    </div>
</div>


